html, body {
  font-family: 'Lato', Arial;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  height: 100%;
}
.display-none{
  display:none;
}
#nav-trigger .input{
  display:none;
}
input#inputEmail {
    box-shadow: none;
    border: 1px solid;
}
.site-footer{
  padding:0;
}
.page-content {
    padding: 10px 0;
    flex: 1 0 auto;
}
.wrapper{
  margin-top: 0rem;
  text-align: center;
}

.btn-group-vertical > .btn-group {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.btn-toolbar {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.clearfix {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.container-fluid {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.container {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.dl-horizontal dd {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.form-horizontal .form-group {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.modal-footer {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.modal-header {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.nav {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.navbar-collapse {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.navbar-header {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.navbar {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.pager {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.panel-body {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.row {
  &:after, &:before {
    display: table;
    content: " ";
  }
}

.nav > li {
  position: relative;
  display: block;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.wide {
  width: 100%;
  position: relative;
  min-height: 1px;
}

@media (min-width: 768px) {
  .nav-gallery {
    display: inline-block;
    margin-left: 1rem;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .nav-menu {
    display: inline-block;
    margin-left: 1rem;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .nav-menu li {
    border-bottom: none;
    display: inline-block;
    border: 1px solid white;
  }
}

.nav-menu a {
  text-decoration: none;
  color: black;
  &:hover {
    color: #868686;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
  }
}

.nav-gallery, .nav-menu {
  margin-bottom: 0.5rem;
  padding: 1rem;
  text-align: center;
}

.nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 100%;
  margin-bottom: 1.5rem;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .nav-gallery li:first-of-type {
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0.25rem !important;
  }
}

.nav-gallery {
  li:first-of-type {
    border-top-left-radius: 0.25rem !important;
    border-top-right-radius: 0.25rem !important;
  }
  .filtr-active {
    background-color: #f3f3f3;
    box-shadow: inset 0 0 5px rgba(26, 29, 25, 0.35);
  }
  li {
    border-radius: 0 !important;
    cursor: pointer !important;
  }
}

@media (min-width: 768px) {
  .nav-gallery li {
    border-bottom: none;
    display: inline-block;
    border: 1px solid white;
  }
}

@media (min-width: 768px) {
  .nav-gallery li:last-of-type {
    border-bottom-left-radius: 0 !important;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
  }
}

.layout-pane.element {
  width: 33.33333333%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.layout-col {
  margin-top: 4rem;
  text-align: center;
}

@media (max-width: 425px) {
  .layout-col {
    margin-top: 4rem;
  }
}

@media (max-width: 425px){
.nav-menu {
    display: none;
}
}

@media (min-width: 425px) {
  .nav-gallary.tab {
    width: 13%;
    float: none;
  }
}

.VS_logo {
  width: 44%;
  margin-bottom: 2em;
}

a.fancybox-item.fancybox-close {
  width: 40px;
  height: 31px;
}

img.sm-icon {
  width: 3.5em;
}

img.sm-icon.you{
  background-image:"assets/youtube.svg";
}
img.sm-icon:hover {
    opacity: 0.7;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
.tall {
  height: 3.5em;
}

.group-combo:after {
  display: block;
  content: "";
  clear: both;
}

.smm-group {
  margin-bottom: 2rem;
}

.header {
  display: none;
}

@media (max-width: 425px) {
  .header {
    display: block;
  }
}

@media (min-width: 426px) {
  .mh-head {
    display: none;
  }
}

.two-seps {
  width: 100%;
  float: left;
}

.about-column {
  width: 50%;
  float: left;
}

@media (max-width: 559px) {
  .about-column {
    width: 100%;
  }
}

.selfie img {
  width: 100%;
  margin-bottom: 1rem;
}

footer {
  text-align: center;
}

div.header {
  z-index:100;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

body .mh-head {
  background: #2d2b2b;
}

.two-seps {
  margin-bottom: 2rem;
}

.selfie, .text {
  padding-left: 15px;
  padding-right: 15px;
}

input, textarea {
  width: 100%;
  height: 47px;
  background-color: white;
  color: #727271 !important;
  font-family: "Times New Roman" !important;
  font-size: 18px !important;
  padding-left: 18px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position:none;
}
textarea#inputMessage:focus {
  outline-color:inherit;
}
input:focus {
    outline-color: #868686;
    outline: auto 5px;
}
.fields {
  padding-left: 15px;
  padding-right: 15px;
  // margin-bottom: 2.5em;
}

.form_title {
  margin-bottom: 2rem;
}

.need_more {
  width: 500px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  .need_more {
    width: 100%;
  }
}

// button#questions{    
//     display: inline-block;
//     position: relative;
//     background-color: #c1c1c1;
//     border: solid 1px #000000;
//     font-family: "Open Sans",Helvetica,Arial,sans-serif;
//     font-size: 18px;
//     font-weight: 400;
//     color: #000000;
//     padding: 10px 50px;
//     text-decoration: none;
//     text-align: center;
//     cursor: pointer;
//     transition: color .2s,background-color .2s,border-color .2s;
//     &:hover{
//       background-color:#e8e8e8;
//     }
//     &:active{
//       background-color:black;
//       color:white;
//     }
// }

button, input[type="submit"], input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button, input[type="submit"], input[type="reset"] {
  background-color: #fff;
    font-family: Arial, Helvetica, Verdana;
    line-height: 22px;
    position: relative;
    font-size: 16px;
    text-rendering: optimizeLegibility;
    text-transform:uppercase;
}

button#questions:hover {
        color: #868686;
}

input{
  outline:none;
}
button{
  outline:none;
}
.sm-icon path{
  fill:white!important;
}
.form-group.center-block {
    margin-bottom: 20px;
}
textarea#inputMessage {
    height: 200px;
    padding: 15px 18px;
    border-color:#6f7070;
}
img.img-responsive {
    max-width: 100%;
}
.gallery a {
    display: inline-block;
    max-width: 32%;
    margin: 1px;
    position:relative;
}
.filtr-button {
    background-color: #ffffff;
    border: none;
    border-radius: 0.25rem;
    font-weight: 400;
    padding: 0.75rem 1.5rem;
    text-transform: uppercase;
    transition: background-color 0.25s;
}
.gallery {
    margin-bottom: 45px;
}
.slick-slide{

    height: inherit;
}

div#result {
    padding-top: 40px;
    padding-left: 502px;
    padding-right: 43px;
    float: right;
    position: absolute;
    line-height: 22px;
}
div#result{
  @media screen and (max-width: 480px) {  
  background-color: white;
    max-width: 100%;
    padding-left:0px;
    position:relative;
    float:none;
    padding-top:20px;
    padding-bottom: 20px;
    padding-left:10px;
    padding-right:10px;
}
}
a.ajax-popup-link:after{
  content: '\A';
    position: absolute;
    width: 100%; height:100%;
    top:0; left:0;
    background:rgba(0,0,0,0.2);
    opacity: 0;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
}
a.ajax-popup-link:hover:after{
  opacity:1;
}
.none{
  display:none;
}
.mfp-preloader {
  width: 30px;
  height: 30px;
  background-color: #FFF;
  opacity: 0.65;
  margin: 0 auto;
  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;
}