<div class="wrapper">
  <div class="footer-col-wrapper">
    <div class="smm-group">
      <a href="https://www.youtube.com/channel/UCZe4XsQiZB0tnBiGCyv7Ydg"><img class="sm-icon" src="assets/youtube.svg" alt="youtube"></a>
      <a href="https://www.facebook.com/JewelerSerdechny"><img class="sm-icon tall" src="assets/facebook.svg" alt="facebook"></a>
      <a href=""><img class="sm-icon" src="assets/linkedIn.svg" alt="linkedIn"></a>
    </div>
    <p>&copy; Vladimir Serdechny | 2016-2017 All artwork copyright</p>
    <p>Made by Zak the Gear</p>
  </div>
</div>
<script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/jquery.magnific-popup.js"></script>
  <script src="js/slick.js"></script>
  <script src="js/jquery.mmenu.all.js"></script>
  <script src="js/jquery.mhead.js"></script>
  <script src="js/sendemail.js"></script>
  <script src='js/script.js'></script>