<div class="gal_box">
  <div class="box">
    <img src="assets/css/img/spec.jpg" alt="">
    <div class="description">Краны-манипуляторы</div>
  </div>
  <div class="box">
    <img src="assets/css/img/spec2.jpg" alt="">
    <div class="description">Экскаватор-погрузчики</div>
  </div>
  <div class="box">
    <img src="assets/css/img/spec3.jpg" alt="">
    <div class="description">Самосвалы</div>
  </div>
  <div class="box">
    <img src="assets/css/img/spec4.jpg" alt="">
    <div class="description">Автокраны</div>
  </div>
  <div class="box">
    <img src="assets/css/img/spec5.jpg" alt="">
    <div class="description">Шаланды</div>
  </div>
</div>
