<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}
    {%- include_relative _posts/head_logo.markdown -%}
    {%- include header_second.html -%}
    

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>
    
    {%- include footer.html -%}
    {%- include_relative _posts/footer.markdown -%}
    {%- include footer_second.html -%}
    {%- include filteriz_add.html -%}
  </body>

</html>
