<html lang="{{ page.lang | default: site.lang | default: "en" }}">
	{%- include head.html -%}
	<div id="page">
		<div class="mh-head Sticky">
			<span class="mh-btns-left">
				<a href="#menu" class="fa fa-bars"></a>
				<a href="#page" class="fa fa-close"></a>
			</span>
			<span class="mh-text"></span>
		</div>
		<div id="content" class="content">
			<section class="container">
				<div class="row">
					<div class="wide layout-col">
						<a href="index.html"><img class="VS_logo" alt="Logo" src="assets/VS_logo.png"></a>
						{%- include header_second.html -%}
						
						<main class="page-content" aria-label="Content">
							<div class="wrapper">
								{{ content }}
							</div>
						</main>
					</div>
				</div>
			</section>
		</div>
	</div>
	{%- include footer.html -%}
</html>